<p id="notice"><%= notice %></p>

<h1>Listing Requests to Me</h1>

<table>
  <thead>
    <tr>
      <th>Requester</th>
      <th>Requested book</th>
      <th>Requester book</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests_to_me.each do |request| %>
      <tr>
        <td><%= User.find(request.requester).name %></td>
        <td><b><%= Book.find(request.requested_book).title %></b>, <%= Book.find(request.requested_book).author %> </td>
        <td>
        <%@r_books = Book.where(user_id: request.requester) %>
        <%@r_books_titles = []%>
        <% @r_books.each  { |book| @r_books_titles<<[book.title,book.id]}%>
        
        <%= select_tag(:requester_book_name, options_for_select(@r_books_titles), :id =>"st1")  %>

        </td>
        <td><%= request.accepted %></td>

        <input type="button" onclick="alert(document.getElementById('st1').value)" value="test" />


        <td><%= link_to 'Accept', request, {
          "test": "testtest"} if request.accepted == "waiting" %></td>
        <td><%= link_to 'Reject', edit_request_path(request) if request.accepted == "waiting" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Listing Requests from Me</h1>

<table>
  <thead>
    <tr>
      <th>Requested book</th>
      <th>Requested</th>
      <th>Requester book</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_requests.each do |request| %>
      <tr>
        <td><b><%= Book.find(request.requested_book).title %></b>, <%= Book.find(request.requested_book).author %></td>
        <td><%= User.find(request.requested).name %></td>
        <td><%= Book.find(request.requester_book) if request.requester_book %></td>
        <td><%= request.accepted %></td>
        <td><%= link_to 'Cancel', request, method: :delete, data: { confirm: 'Are you sure?' } if request.accepted == "waiting" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
