

<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

  <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

  <style>

    /* http://css-tricks.com/perfect-full-page-background-image/ */
    html {
      background: url(http://static1.squarespace.com/static/536d22efe4b09f73bc3bb79f/t/54ed3cb6e4b03a84d2b4e0f7/1424833718893/openbookgraybackground.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      padding-top: 120px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      background: transparent;
    }
    footer
    {
      padding-top: 200px;
      padding-bottom: 50px;
      padding-left: 500px;
    }

    quote
    {
      padding-top: 50px;
      font-size: 50px;
      font-family: "Open Sans",serif;
      background: transparent;

    }

    h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    /* Override B3 .panel adding a subtly transparent background */
    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }

    .margin-base-vertical {
      margin: 40px 0;
    }

  </style>

</head>
<body>

<div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <quote>
           No two persons ever read 
        </quote>
      <div>
        <div class="col-md-10 col-md-offset-5">
          <quote>
            the same book.
          </quote>
        <div> 
          <span class="glyphicons glyphicons-cluster gi-5x"></span>
        </div>
        <div class="col-xs-6 col-md-offset-4">
        –Edmund Wilson
      </div>
    </div>
  </div>
  </div>
  <div class="col-xs-6 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <div class="actions">
    <%= f.submit "Log in" %>
    </div>
    <% end %>   
    <% end %>
  <%= link_to "Sign up", new_registration_path(resource_name) %>
  </div>
</body>
</html>